.DS_Store
.classpath
.gradle
.idea
.project
.settings
*.iml
*.ipr
*.iws

/bin
/build
/classes
/lib
/log
/target

/hawaii-*/bin
/hawaii-*/build
/hawaii-*/classes
/hawaii-*/lib
/hawaii-*/log
/hawaii-*/target

/hawaii-starters/*/bin
/hawaii-starters/*/build
/hawaii-starters/*/classes
/hawaii-starters/*/lib
/hawaii-starters/*/log
/hawaii-starters/*/target

/samples/*/bin
/samples/*/build
/samples/*/classes
/samples/*/lib
/samples/*/log
/samples/*/target
