<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Releases</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Version</th>
          <th>Documentation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            2.0.0
            <span class="label label-default"><small>BUILD-SNAPSHOT</small></span>
          </td>
          <td>
            <a href="/docs/2.0.0.BUILD-SNAPSHOT/reference/html5/reference-documentation.html">Reference</a>
            |
            <a href="/docs/2.0.0.BUILD-SNAPSHOT/api/index.html">API</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
